---
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Chords</title>
  </head>
  <body>
    <h1>Chords</h1>
    <p>Minimal Astro project.</p>
  </body>
</html>
